.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h1 {
    font-size: 36px;
    color: #8cda3f;
  }
  .pairing {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    input {
      background: none;
      border: 0;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      padding-top: 10px;
      margin: 0px auto;
      width: 45%;
    }
    input:focus {
      outline: 0;
    }
    input::placeholder {
      color: #ffffff;
    }
    input:-webkit-autofill {
      -webkit-text-fill-color: #ffffff !important;
      background-color: none;
      -webkit-box-shadow: 0 0 0px 1000px #0c172b inset;
    }
  }

  button {
    background: none;
    border: 1px solid #8cda3f;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    margin: 20px auto 0px auto;
    display: block;
  }
  button:hover {
    background-color: #8cda3f;
  }
}
.error {
  color: red;
  text-align: center;
  margin-top: 25px;
}
